<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main2.css">
    <title>Document</title>
</head>
<body>
    <div>
        {{1+2 !== 3 ? 'hi' : 'bye'}}

        Type something <input ng-model="myValue">

        <div>you typed: {{myValue.toLowerCase()}}</div>
        <div ng-if='myValue == "a"'>hey this is cool</div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js" charset="utf-8"></script>
    <script src="app/app.js" charset="utf-8"></script>
</body>
</html>